{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
<h4>Welcome to Fresh Kart</h4>
{% endblock metadesc %}


{% block title %}My Cart | {% endblock title %}


{% block body %}

<div class="row">
    <div class="col">
        <h1 class="display-3 text-center mb-3">Shopping Cart</h1>

        {% if not cart_items %}
        <h4>Your cart is empty</h4>
        <p>Please add items from <a href="{% url 'shop:home' %}">All Products</a></p>
        {% else %}
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table class="table table-striped table-hover align-middle">

                        <thead>
                            <tr>
                                <th colspan="5" class="h3 pb-3">Your Cart Items</th>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Sub Total</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for item in cart_items %}
                            <tr>
                                <td>
                                    <a href="{{item.product.get_url}}">
                                        <img style="width:150px" class="img-fluid rounded"
                                            src="{{item.product.image.url}}" alt="{{item.product.name}}">
                                    </a>
                                </td>
                                <td>
                                    {{item.product.name}}
                                    <br>
                                    SKU: {{item.product.id}}
                                </td>
                                <td>&#8377; {{item.product.price}}</td>
                                <td class="qty-btn">
                                    <a href="{% if item.quantity > 1 %}{% url 'cart:remove' item.product.id %}{% endif %}"
                                        class="{% if item.quantity < 2 %}disabled{% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                                        </svg>
                                    </a>
                                    <span class="text">
                                        {{item.quantity}}
                                    </span>
                                    <a href="{% if item.quantity < item.product.stock %}{% url 'cart:add' item.product.id %}{% endif %}"
                                        class="{% if item.quantity >= item.product.stock %}disabled{% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                    </a>
                                    <a href="{% url 'cart:delete' item.product.id %}" class="delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </a>
                                </td>
                                <td>&#8377; {{item.sub_total}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card p-3">
                    <div class="row mb-3 border-bottom">
                        <div class="col-12 pb-2">
                            <h2 class="mb-2">Checkout</h2>
                            <p class="card p-3">Please review your shopping cart before proceeding with the order
                                payment.</p>
                            <h5>Total Quantity: <strong>{{item_count}}</strong></h5>
                            <h4>Grand Total: <strong>&#8377; {{total}}</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-12">
                            <a href="{% url 'shop:home' %}" class="btn btn-info w-100 mb-3 mb-sm-0 mb-lg-3">Continue
                                Shopping</a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-12">
                            <a href="#" class="btn btn-info w-100">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock body %}
