{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
<h4>Welcome to Fresh Kart</h4>
{% endblock metadesc %}


{% block title %}{% if query %}Search | {% endif %}{% endblock title %}


{% block body %}
<div class="row mt-3 g-4">
    <h3>Search query: <b>{{query}}</b></h3>

    {% for product in products %}
    <div class="col-4">
        <div class="card product-card">
            <a href="{{product.get_url}}">
                <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">&#8377; {{product.price}}</p>
                {% if product.stock <= 0 %}
                <strong class="text-danger">Out of stock</strong>
                {% else %}
                <a href="{% url 'cart:add' product.id %}" class="btn btn-info float-end">Add to cart</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">No result found</div>
    {% endfor %}
</div>
{% endblock body %}
